@import url("https://fonts.googleapis.com/css2?family=Galindo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goblin One", cursive;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Top Header */
.topHeader {
  background-color: #000006;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.txt1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Galindo", cursive;
  text-shadow: 1px 1px 30px #ffffff;
}

.txt2 {
  color: #5abdff;
  font-size: 3rem;
  font-family: "Train One", cursive;
  text-shadow: 1px 1px 30px #5abdff;
}

/* Search input/button Style */
.search_div {
  display: flex;
  justify-content: center;
  background-color: #111;
  padding: 0.5rem 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

form {
  display: flex;
}

.scrbtn {
  padding: 0.3rem;
  cursor: pointer;
  font-size: 20px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 0px 4px 4px 0px;
}

.search_input {
  width: 100%;
  max-width: 400px;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 4px 0px 0px 4px;
}

/* Results Container */
.container {
  margin: auto;
  border-radius: 5px;
  background: white;
  width: 95%;
  max-width: 60rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  box-shadow: 0px 0px 5px #000;
  font-size: 14px;
  margin-bottom: 5rem;
}

.btn {
  border: none;
  cursor: pointer;
  background: #800080;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 3px #000;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.spacing {
  height: 100px;
}

h2 {
  text-align: center;
  padding-bottom: 50px;
}

/* Modal Style */
.modal h4 {
  padding-bottom: 3rem;
}

.yes_btn,
.no_btn {
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
}

.yes_btn:hover {
  transform: scale(1.1);
}

.yes_btn {
  background: green;
}

.no_btn {
  background: red;
}

/********************Feedback Button Style********************/
.feedback_btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.feedback_btn img {
  width: 40px;
  box-shadow: 0px 0px 5px white;
  border-radius: 50px;
}

.feedback_btn img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .txt1,
  .txt2 {
    font-size: 2rem;
  }

  .search_div {
    padding: 0.5rem 0;
  }

  .scrbtn {
    padding: 0.1rem;
    font-size: 17px;
    border-radius: 0px 3px 3px 0px;
  }

  .search_input {
    padding: 0px 5px;
    border-radius: 3px 0px 0px 3px;
    font-size: 12px;
  }

  .container {
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 12px;
    margin-bottom: 3rem;
  }

  .btn {
    border-radius: 3px;
    padding: 5px 15px;
    transition: 0.2s;
  }

  .btn span {
    display: none;
  }

  .modal {
    padding: 0.5rem;
  }

  .modal h4 {
    padding-bottom: 1rem;
    font-size: 11px;
  }

  .yes_btn,
  .no_btn {
    border-radius: 3px;
    padding: 5px;
    margin: 0 5px;
    font-size: 10px;
  }

  .feedback_btn {
    bottom: 5px;
    right: 5px;
  }

  .feedback_btn img {
    width: 25px;
  }
}
