@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

* { margin: 0; padding: 0;}

body { font-family: 'Goblin One', cursive; background: #351d9e; height: 8000px;}

/********************BANNER********************/
.banner {
  user-select: none;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

 .txt1 {
  color: rgb(255, 255, 255);
  font-size: 10vh;
  font-family: 'Galindo', cursive;
  text-shadow: 1px 1px 40px  rgb(255, 255, 255);
}
.txt2{
  color: rgb(90, 189, 255);
  font-size: 10vh;
  font-family: 'Train One', cursive;
  text-shadow: 1px 1px 40px  rgb(90, 189, 255);
}

/********************SECOND BANNER********************/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.secondbanner{
  width: 100%;
  height:  47px;
  background: #414141;
  text-align: right;
}

.sticky + .content {padding-top: 10px;}

.srcbar{
  width: 30%;
  position: relative;
  height: 30px;
  text-align: center;
}
.srcbtn{
  position: fixed relative;
  width: 30px;
  top: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.srcsection{
  position: relative;
  bottom: 50px;
  right: 50px;
  text-align: right;
}

.srcbtn:active{border: 1px solid green;}

/********************USER SECTION********************/

 .navbar {
	overflow: hidden;
	background: #333;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	text-shadow: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
  top: 0;
	float: left;
	overflow: hidden;
	background: rgb(46, 46, 46);
  }
  
  .dropdown .dropbtn {
    position: relative;
	font-size: 16px;  
	border: none;
	outline: none;
	text-shadow: white;
	padding: 14px 16px;
	background: inherit;
	font-family: inherit;
	margin: 0;
  color: white;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background: rgb(34, 34, 34);
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
	float: none;
	text-shadow: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  color: rgb(0, 0, 0);
  }
  
  .dropdown-content a:hover {
	background: rgb(94, 94, 94);
  }
  
  .dropdown:hover .dropdown-content {display: block;}

 /********************MODAL********************/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background:rgb(0,0,0); /* Fallback color */
  background: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000000;
}

/* Modal Content */
.modal-content {
  background: #000000;
  margin: auto;
  border: 1px solid #888;
  height: 500px;
  width: 40%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  top: 10px;
  right: 5px;
  position: relative;
  text-shadow: 1px 1px 1px #000000;
  float: right;
  font-size: 50px;
  font-weight: bold;
  color: rgb(190, 0, 0)
}

.close:hover{color: rgb(255, 0, 0);}

.close:hover, .close:focus {
  text-shadow: #000;
  text-decoration: none;
  cursor: pointer;
}
 
/********************SCROLL MOUSE********************/

::-webkit-scrollbar {
	width: 15px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(43, 43, 43);
  }

