* {
  margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
  /* box-sizing: border-box; */
}

body {
  background: #341f97;
}

/********************BANNER********************/
.banner {
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(to right, #000000, #0a0a0a);
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  width: 100%;
  height: 120px;
}

 .icon {
  position: relative;
  top: 10px;
  margin: 2px;
  margin-left: 10%;
}

 .text1 {
  font-family: "Train One", cursive;
  text-shadow: 1px 1px 5px black;
  position: relative;
  bottom: 15px;
  color: white;
  text-decoration: none;
}

 .entrartxt {
  color: white;
  font-size: 40px;
  padding-top: 2%;
  text-align: center;
}

/********************SECOND BANNER********************/

.secondbanner{
  width: 100%;
  height: 50px;
  background-color: #371cad;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

.srcbar{
  border-radius: 5px;
  margin-left: 34%;
  margin-top: 10px;
  width: 20%;
  height:25px ;
  outline: none;
}

.search.icon{
  cursor:pointer;
  position:absolute;
  width:auto;height:auto;
  line-height:1.21428571em;
  top:.78571429em;
  right:1em;
  z-index:3;
  margin:-.78571429em;
  padding:.91666667em;
  opacity:.8;
  -webkit-transition:opacity .1s ease;
  transition:opacity .1s ease
}

.search.icon{
  cursor:pointer
}

/********************BANNER LINKS********************/
 .links {
  text-shadow: 1px 1px 4px black;
  top: 6%;
  padding-left: 50%;
  position: absolute;
  display: flex;
  font-size: 30px;
}

 .links a {
  margin: 80px;
  color: white;
  text-decoration: none;
}

 .links li {
  list-style-type: none;
}

.links a:hover {
  text-shadow: 1px 1px 1px #341f97;
}

/********************USER SECTION********************/

 .navbar {
	overflow: hidden;
	background-color: #333;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
  top: 0;
	float: left;
	overflow: hidden;
	background-color: rgb(39, 39, 39);
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(68, 0, 255);
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: rgb(94, 94, 94);
  z-index: 999;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  z-index: 999;
  }

  /* LIGHT SWITCHER */

  
