*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

    /********************BANNER********************/
.banner{
    -ms-user-select: none;
    user-select: none; 
  	background-image: linear-gradient(to right, #000000 , #0a0a0a);
  	font-family: 'Raleway', sans-serif;
  	font-size: 6vh;
  	width: 100%;
  	height: 120px;
  }

.icon{
  	position: relative;
  	top: 10px;
  	margin-left: 10%;
  }

.text1{
  	text-shadow: 1px 1px 5px black;
  	position: relative;
	bottom: 15px;
  	color: white;
  	text-decoration: none;
	font-family: 'Train One', cursive;
  }

  /********************FORM********************/

.content{
	position: relative;
	top: 150px;
	margin: auto;
	border: 5px solid white;
  	border-radius: 25px;
 	width: 50%;
 	height: 450px;
 	background:#222;
	user-select: none; 
	text-align: center;
}

div h1{
	position: relative;
	padding-top: 15px;
   	text-shadow: 1px 1px 1px rgb(0, 0, 0);
   	color: rgb(248, 219, 165);
}

.inputs{
	position: relative;
	top: 35px;
 	border-radius: 5px;
	outline-color: rgb(0, 255, 0);
	box-shadow: 0 0 10px;
	width: 50%;
	padding: 10px 20px;
	
 }

.entrar{
	position: relative;
	top: 80px;
	border-radius: 10px;
	font-size: 2vh;
	border: 2px solid;
	background-color: rgb(18, 209, 18);
	cursor: pointer;
	width: 20%;
	padding: 14px 20px;
	color: rgb(0, 0, 0);
	transition: 0.5s;
}

.entrar:hover{
	background-color: rgb(251, 255, 0);
}

.labeltxt{
	position: relative;
	top: 35px;
	color: rgb(255, 255, 255);
	font-size: 2.5vh;
 }

.fazerloginbtt{
	top: 85px;
	position: relative;
	font-size: 2vh;
	color: rgb(0, 245, 61);
	transition: 0.5s;
	text-decoration: none;
}

.fazerloginbtt:hover{
	color: rgb(251, 255, 0);	
}

.errorMsg{
	font-size: 2.5vh;
	position: relative;
	top: 105px;
	color: rgb(255, 50, 50);
	text-shadow: 1px 1px 5px black;
}

/********************BANNER LINKS********************/
.links{
	text-shadow: 1px 1px 4px black;
	top: 6%;
	padding-left: 50%;
	position: absolute;
	display: flex;
	font-size: 30px;
}

.links a{
	margin: 80px;
	color: white;
	text-decoration: none;
}

.links li {
	list-style-type: none;
}

 .links a:hover{
 	text-shadow: 1px 1px 1px #341f97;
}





























