@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

* { margin: 0; padding: 0;}

body { font-family: 'Goblin One', cursive; background: #351d9e;}

/********************BANNER********************/
.banner {
  user-select: none;
  background-color: rgb(2, 2, 5);
  text-align: center;
}

.txt1 {
  color: rgb(255, 255, 255);
  font-size: 6vw;
  font-family: 'Galindo', cursive;
  text-shadow: 1px 1px 30px  rgb(255, 255, 255);
}
.txt2{
  color: rgb(90, 189, 255);
  font-size: 6vw;
  font-family: 'Train One', cursive;
  text-shadow: 1px 1px 40px  rgb(90, 189, 255);
}

  /********************FORM********************/

.content{
	position: relative;
	top: 100px;
	margin: auto;
	border: 4px solid white;
  	border-radius: 20px;
	width: 30vw;
 	background:#222;
	text-align: center;
}

.jointxt{
	font-size: 30px;
	padding: 20px;
   	text-shadow: 1px 1px 1px rgb(0, 0, 0);
   	color: rgb(255, 206, 115);
}

.inputs{
	font-size: 20px;
	width: 80%;
 	border-radius: 5px;
	outline-color: rgb(0, 255, 0);	
}

.labeltxt{color: #ffff;font-size: 20px;}

.cadastrar{
	margin-top: 20px;
	border-radius: 10px;
	padding: 13px;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid;
	background-color: rgb(18, 209, 18);
	color: rgb(0, 0, 0);
	transition: 0.5s;
	cursor: pointer;
}

.cadastrar:hover{background-color: rgb(251, 255, 0);}

.fazerloginbtt{
	position: relative;
	top: 10px;
	font-size: 1em;
	color: rgb(0, 245, 61);
	transition: 0.5s;
}

.fazerloginbtt:hover{color: rgb(251, 255, 0);	}

.errorMsg{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	color: rgb(255, 50, 50);
	text-shadow: 1px 1px 5px black;
}

.sucessMsg{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	color: rgb(22, 252, 22);
	text-shadow: 1px 1px 5px black
}

/********************SCROLL MOUSE********************/

::-webkit-scrollbar{width: 10px;}
  
  /* Track */
  ::-webkit-scrollbar-track{background: #f1f1f1;}
  
  /* Handle */
  ::-webkit-scrollbar-thumb{background: #888;}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{background: #555;}